@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
}

.sun_aside aside {
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 5px;
    z-index: 1000;
    background-color: #333;
    /* text-indent: -9999px; */
}

.sun_aside .toolbar {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
}

.sun_aside .toolbar_person {
    width: 35px;
    height: 30px;
    background-color: #333;
    line-height: 30px;
    text-align: center;
    position: relative;
    z-index: 10;
}

.sun_aside .toolbar div a {
    color: #fff;
}

.sun_aside .toolbar div a i {
    font-size: 20px;
}

.sun_aside .toolbar_person {
    margin-bottom: 2px;
}

.sun_aside .toolbar_cart {
    margin-bottom: 2px;
}

.sun_aside aside .user {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: -35px;
    border-radius: 3px 0 0 3px;
    color: #fff;
    z-index: 1;
}

.sun_aside aside .current {
    background-color: red;
}

.sun_aside .toolbar .cart {
    top: 32px;
    right: -35px;
}
.sun_aside .toolbar .coupon{
    top: 64px;
    right: -35px;
}
.sun_aside .toolbar_scroll{
    font-size: 20px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    margin-bottom: 0;
}
.sun_aside .scroll{
    width: 70px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0px;
    right: -35px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    z-index: 1;
    background-color: #000;
}
.sun_aside .scroll a{
     color: #fff;
}
.sun_aside .toolbar_chat{
    height: 40px;
    line-height: 40px;
    width: 230px;
    position: absolute;
    bottom: 0;
    right: 105px;
    border-radius: 5px;
    background-color: #0072ff;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.sun_aside .toolbar_chat i{
    margin-right: 20px;
    font-size: 20px;
}
.sun_aside .chatBox{
    width: 320px;
    height: 480px;
    display: none;
}