@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
}

.sun_cart {
    width: 100%;
    height: 100%;
}

.sun_cart header {
    background: #f8f8f8;
    border: 1px solid #eee;
    height: 40px;
    line-height: 40px;
}

.sun_cart .welcome {
    overflow: hidden;
}

.sun_cart header li a {
    padding: 0 15px;
}

.sun_cart header li a:last-of-type {
    padding-left: 0;
    padding-right: 30px;
}

.sun_cart header li a:hover {
    color: red;
}

.sun_cart .sun_cart_nav {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
}

.sun_cart .sun_cart_logo a {
    display: block;
    width: 200px;
    height: 60px;
    text-indent: -9999px;
    background: url(./../images/logo.gif) no-repeat center;
}

.sun_cart .sun_cart_main{
    display: none;
}

.sun_cart .cart_none{
    height: 100px;
    background-color: #eee;
    border: 1px solid #dbdbdb;
    line-height: 100px;
    text-align: center;
    width: 100%;
}

.sun_cart .sun_cart_title {
    height: 46px;
    line-height: 46px;
    background: #eee;
    color: #999;
}

.sun_cart .sun_cart_title li {
    float: left;
}

.sun_cart .sun_cart_title input {
    margin-right: 10px;
}

.sun_cart .cart_title_one {
    width: 200px;
    padding: 0 10px;
}

.sun_cart .cart_title_two {
    width: 500px;
}

.sun_cart .sun_cart_platform {
    height: 52px;
    line-height: 50px;
    padding: 0 20px;
    color: red;
    margin-top: 10px;
}

.sun_cart .sun_cart_plat {
    background: url(./../images/icon_platform_pc.png) no-repeat 25px center;
}

.sun_cart .sun_cart_platform input {
    margin-right: 40px;
}

.sun_cart .sun_cart_content {
    border: 1px solid #eee;
    border-top: 2px solid #fe5322;
    margin-bottom: 80px;
}

.sun_cart .cart_product .current {
    background-color: #fffaf8;
}

.sun_cart .sun_cart_product {
    width: 100%;
    overflow: hidden;
    padding: 20px 30px;
}

.sun_cart .cart_product .line {
    height: 2px;
    width: 1100px;
    margin: 0 auto;
    border: 1px solid #eee;
}

.sun_cart .cart_product:last-of-type .line {
    border: none;
}

.sun_cart .sun_cart_product div {
    float: left;
}

.sun_cart .sun_cart_product input {
    margin-right: 30px;
}

.sun_cart .sun_cart_goods {
    overflow: hidden;
    width: 580px;
}

.sun_cart .sun_cart_goods ul {
    float: left;
    line-height: 24px;
    color: #999;
}

.sun_cart .sun_cart_goods ul li:last-of-type {
    color: red;
    width: 100px;
    padding-left: 35px;
    margin-top: 20px;
    background: #eee url(./../images/ziti_03.jpg) no-repeat left;
}

.sun_cart .sun_cart_goods ul a:hover {
    color: red;
}

.sun_cart .sun_cart_goods img {
    border: 1px solid #eee;
    width: 100px;
    margin-right: 20px;
}

.sun_cart .sun_cart_price {
    width: 170px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #666;
}

.sun_cart .sun_cart_number {
    line-height: 30px;
    padding-top: 25px;
}

.sun_cart .sun_cart_number span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    cursor: pointer;
    user-select: none;
}
.sun_cart .sun_cart_add{
    margin-left: 75px;
}
.sun_cart .sun_cart_number .cart_pro_number {
    width: 70px;
    text-align: center;
    height: 30px;
    line-height: 26px;
    overflow: hidden;
    border: 1px solid #eee;
    position: absolute;
}

.sun_cart .sun_cart_delete a {
    color: #535353;
}

.sun_cart .sun_cart_line {
    height: 4px;
    background-color: #eee;
    margin-bottom: 20px;
}

.sun_cart .sun_cart_settle {
    height: 50px;
    background-color: #eee;
    border: 1px solid #999;
    line-height: 50px;
    padding-left: 25px;
    color: #666;
}

.sun_cart .delete_select {
    color: #535353;
}

.sun_cart .sun_cart_settle ul li {
    float: left;
    margin-left: 40px;
}

.sun_cart .cart_select_num {
    color: red;
}

.sun_cart .cart_select_price {
    color: red;
    font-size: 24px;
    padding: 0 15px;
}

.sun_cart .cart_select_buy {
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: #999;
}

.sun_cart_settle button.cart_buy {
    background-color: #fe5322;
    color: #fff;
}

.sun_cart footer {
    padding-top: 30px;
    text-align: center;
    line-height: 20px;
    color: #999;
    padding-bottom: 40px;
    background-color: #eee;
    margin-top: 40px;
}

.sun_cart footer p a {
    color: #999;
}