@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
}

.sun_details {
    overflow: hidden;
}

.sun_details .sun_det_header {
    height: 36px;
    line-height: 36px;
}

.sun_details_product {
    overflow: hidden;
}

.sun_details .details_product {
    overflow: hidden;
    margin-bottom: 40px;
}

.sun_details .details_img {
    width: 410px;
    position: relative;
}

.sun_details .details_middle {
    margin-bottom: 10px;
    position: relative;
}

.sun_details .details_middle img {
    width: 410px;
    height: 410px;
    border: 1px solid #dbdbdd;
}

.sun_details .details_middleArea {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    opacity: .2;
    display: none;
}

.sun_details .details_bigArea {
    width: 410px;
    height: 410px;
    overflow: hidden;
    background-color: #000;
    border: 1px solid #dbdbdd;
    position: absolute;
    left: 420px;
    top: 0;
    z-index: 3;
    display: none;
}

.sun_details .details_bigImg {
    background-color: #000;
    width: 820px;
    height: 820px;
    position: absolute;
}

.sun_details .details_allImg {
    margin-bottom: 25px;
    overflow: hidden;
}

.sun_details .details_bigImg img {
    width: 820px;
    height: 820px;
}

.sun_details .details_allImg li {
    width: 60px;
    border: 1px solid #dbdbdd;
    margin-right: 10px;
    float: left;
}

.sun_details .details_allImg img {
    width: 60px;
    height: 60px;
}

.sun_details .details_share {
    width: 240px;
}

.sun_details .details_share span {
    padding-left: 20px;
}

.sun_details .details_share img {
    width: 20px;
}

.sun_details .details_share .save_product {
    padding-left: 20px;
    background: url(./../images/share_05.png) no-repeat left center;
    color: #535353;
}

.sun_details .details_choice {
    padding: 0 25px;
    width: 580px;
    height: 350px;
    border-right: 1px solid #eee;
}

.sun_details .details_choice h2 {
    height: 35px;
    line-height: 35px;
}

.sun_details .det_ch_price {
    height: 100px;
    background-color: #eee;
    padding: 10px 20px;
}

.sun_details .det_ch_price li {
    height: 30px;
    line-height: 30px;
}

.sun_details .det_ch_price .det_ch_oldPrice {
    font-size: 14px;
    text-decoration: line-through;
    padding-left: 15px;
}

.sun_details .det_ch_price .det_ch_newPrice {
    padding: 10px 15px;
    font-size: 24px;
    color: red;
}

.sun_details .det_ch_price li a {
    color: red;
}

.sun_details .det_ch_delivery {
    position: relative;
}

.sun_details .det_ch_delivery .choice_area {
    padding: 10px 20px;
    height: 60px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.sun_details .choice_area .area {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 18px;
    left: 50px;
    float: left;
    line-height: 25px;
}

.sun_details .choice_area button {
    border: 1px solid #dbdbdb;
    margin-top: 7px;
    margin: 0 20px;
    padding: 3px 15px;
    padding-right: 20px;
    z-index: 2;
    cursor: pointer;
    background: #fff url(./../images/pro_icon_19.png) no-repeat right center;
}

.sun_details .det_ch_delivery button.current {
    border-bottom: 1px solid #fff;
}

.sun_details .det_ch_delivery .select_area:hover .area_address {
    display: block;
}

.sun_details .area i {
    margin-left: 10px;
    font-size: 12px;
}

.sun_details .det_ch_delivery .area_address {
    width: 485px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #eee;
    position: absolute;
    top: 42px;
    left: 70px;
    z-index: 1;
    display: none;
    text-align: left;
    line-height: 30px;
}

.sun_details .det_ch_delivery .area_address ul {
    padding: 10px;
    display: none;
}

.sun_details .det_ch_delivery .area_address ul.show {
    display: block;
}

.sun_details .det_ch_delivery .area_address ul a {
    display: inline-block;
    padding: 2px 5px;
}

.sun_details .det_ch_delivery .area_address ul a:hover {
    color: red;
}

.sun_details .det_ch_delivery .area_address span {
    border: 1px solid #eee;
    padding: 2px 10px;
    padding-right: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    background: #fff url(./../images/pro_icon_19.png) no-repeat right center;
}

.sun_details .det_ch_delivery .area_address span.current {
    border-bottom: 1px solid #fff;
}

.sun_details .det_ch_delivery .area_address i {
    font-size: 12px;
    width: 15px;
    height: 24px;
    margin-left: 5px;
}

.sun_details .det_ch_sale {
    height: 60px;
    line-height: 20px;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.sun_details .det_ch_sale li {
    flex: 1;
}

.sun_details .det_ch_sale li:first-of-type {
    border-right: 1px solid #eee;
}

.sun_details .det_ch_sale li span {
    color: red;
    padding: 0 4px;
}

.sun_details .det_ch_number {
    position: relative;
    padding: 20px;
}

.sun_details .det_ch_number i {
    font-size: 12px;
}

.sun_details .det_ch_cart {
    display: inline-block;
    border: 1px solid #eee;
    padding: 15px 30px;
    margin-left: 25px;
    margin-right: 15px;
}

.sun_details .det_stock {
    margin-left: 30px;
    color: #999;
}

.sun_details .det_ch_stock {
    color: #999;
}

.sun_details .det_ch_num {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #eee;
    cursor: pointer;
}

.sun_details .det_ch_reduce {
    top: 45px;
}

.sun_details .det_ch_btn {
    padding: 10px 20px;
}

.sun_details .det_ch_btn button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    margin-right: 15px;
    font-size: 16px;
}

.sun_details .det_ch_buy {
    background-color: #fff;
    border: 2px solid #fe5322;
    color: #fe5322;
}

.sun_details .det_ch_join {
    background-color: #fe5322;
    color: #fff;
}

.sun_details .det_ch_join i {
    margin-right: 10px;
    font-size: 20px;
}

.sun_details .details_server {
    width: 210px;
    padding: 10px;
}

.sun_details .details_server dd {
    margin: 10px 0;
    width: 100%;
}

.sun_details .details_server dd:first-of-type {
    background: #fff;
    color: #666;
}

.sun_details .details_suggest {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

.sun_details .details_banner {
    width: 200px;
    height: 460px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.sun_details .share_content {
    display: none;
    width: 168px;
    height: 40px;
    line-height: 40px;
    background-color: #ccc;
    color: #fff;
    position: absolute;
    top: 0;
}

.sun_details .share_content a {
    float: left;
    height: 16px;
    padding-left: 16px;
    background-image: url(./../images/icons_0_16.png);
    background-repeat: no-repeat;
    background-position: 0px -51px;
    color: #333;
    margin: 5px;
    margin-top: 13px;
}

.sun_details .share_content a:nth-child(3) {
    background-position: 0px -104px;
}

.sun_details .share_content a:nth-child(4) {
    background-position: 0px -260px;
}

.sun_details .share_content a:nth-child(5) {
    background-position: 0px -208px;
}

.sun_details .content_share {
    width: 100%;
}

.sun_details .relate_share {
    width: 100%;
}

.sun_details .share_content a:nth-child(6) {
    background-position: 0px -1612px;
}

.sun_details .share_content a:nth-child(7) {
    background-position: 0px 0px;
}

.sun_details .details_banner h3 {
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
}

.sun_details .details_banner figure {
    flex: 1;
    padding: 0 15px;
    font-size: 12px;
    position: relative;
}

.sun_details .details_banner figure a:hover {
    color: red;
}

.sun_details .details_banner figure p {
    color: red;
}

.sun_details .product_suggest {
    width: 980px;
    position: relative;
}

.sun_details .pro_su_title {
    height: 40px;
    border: 1px solid #eee;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.sun_details .pro_su_title li {
    width: 140px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    color: #535353;
    cursor: pointer;
    background: url(./../images/line_07.png) no-repeat right center;
}

.sun_details .pro_su_title li.current {
    border: 1px solid #fe5322;
    border-top: 2px solid #fe5322;
    border-bottom: 0;
    color: #fe5322;
    position: relative;
    top: -1px;
    left: -1px;
    background: url(./../images/line_03.png) no-repeat center top;
}

.sun_details .pro_su_content {
    border: 1px solid #eee;
    border-top: none;
}

.sun_details .pro_su_content>div {
    display: none;
}

.sun_details .pro_su_content>div.current {
    display: block;
}

.sun_details .su_con_product {
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sun_details .su_con_product p {
    line-height: 26px;
    color: #333;
}

.sun_details .su_con_product p:last-of-type {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.sun_details .su_con_pro_img {
    width: 592px;
    margin: 10px auto;
    position: relative;
}

.sun_details .su_con_pro_img>div {
    position: relative;
}

.sun_details .su_con_appraise {
    overflow: hidden;
    width: 100%;
}

.sun_details .su_con_app_total {
    overflow: hidden;
    padding: 30px;
}

.sun_details .su_con_app_commentary {
    margin-right: 80px;
}

.sun_details .su_app_commentary {
    font-size: 30px;
    color: red;
}

.sun_details .su_con_app_progress {
    line-height: 20px;
    color: #999;
}

.sun_details .su_con_app_progress progress {
    border: none;
    background-color: #efefef;
    margin-left: 20px;
}

.sun_details .su_con_app_title {
    height: 40px;
    line-height: 40px;
    background: #eee;
}

.sun_details .su_con_app_title li {
    float: left;
    width: 160px;
    text-align: center;
}

.sun_details .su_con_app_title li.show {
    color: red;
}

.sun_details .su_con_app_content {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.sun_details .su_con_app_content ul {
    padding: 25px;
    line-height: 24px;
    display: none;
}

.sun_details .su_con_app_content ul.show {
    display: block;
}

.sun_details .su_con_app_content ul li {
    margin-bottom: 20px;
    border-bottom: 1px dashed #dedede;
    padding: 10px;
}

.five_star_praise .st_pra_person {
    width: 80px;
    padding: 0 10px;
}

.five_star_praise .st_pra_person img {
    width: 40px;
    height: 40px;
}

.five_star_praise .st_pra_content {
    color: #999;
    margin-bottom: 10px;
}

.five_star_praise .star_praise img {
    width: 20px;
    height: 20px;
}

.five_star_praise .st_pra_img img {
    width: 200px;
    height: 200px;
}

.pro_su_content .turn_page {
    float: right;
    height: 42px;
    line-height: 42px;
    color: #999;
}

.pro_su_content .turn_page li {
    float: right;
}

.pro_su_content .page_input {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 5px 10px;
    text-align: center;
}

.pro_su_content .page_click {
    width: 50px;
    height: 30px;
    background: #f3f3f3;
    border: 1px solid #999;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.pro_su_content .page_cur {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid red;
    border-radius: 4px;
    margin: 5px;
    color: red;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: 3px;
}

.su_con_record {
    padding: 25px;
    text-align: center;
    color: #999;
    overflow: hidden;
    width: 100%;
}

.sun_details .su_con_record table {
    width: 100%;
}

.sun_details .su_con_record thead {
    background-color: #eee;
    height: 40px;
    line-height: 40px;
    color: #888;
}

.su_con_record tr {
    margin: 10px 0;
    border-bottom: 1px dashed #dedede;
}

.su_con_record td {
    padding: 10px;
}

.su_con_record img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.su_con_record .turn_page {
    margin-top: 10px;
}

.sun_details .su_con_consult {
    width: 100%;

}

.sun_details .su_con_consult div {
    width: 100%;
}

.sun_details .su_con_consult div ul li {
    width: 100%;
    line-height: 30px;
    padding: 20px;
    display: none;
}

.sun_details .su_consult_footer {
    padding: 15px 25px 40px;
}

.sun_details .su_consult_footer button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    border-radius: 4px;
    margin-right: 25px;
    color: #535353;
    cursor: pointer;
}

.sun_details .su_consult_footer a {
    color: #0091ea;
}

.sun_details .details_relate {
    border: 1px solid #eee;
    padding: 0 20px;
    margin-bottom: 40px;
}

.sun_details .details_relate h3 {
    height: 40px;
    line-height: 40px;
}

.sun_details .det_re_product {
    display: flex;
}

.sun_details .det_re_product figure {
    flex: 1;
    padding: 10px;
    text-align: center;
    margin: 10px;
    position: relative;
}

.sun_details .det_re_product figure a {
    color: #535353;
}

.sun_details .det_re_product figure a:hover {
    color: red;
}

.sun_details .det_re_product figure p {
    color: red;
}