@charset "utf-8";
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
footer{
    width: 100%;
    background-color: #616161;
    border-top: 1px solid #e3e3e3;
    padding:30px 0;
}
.introduce{
    width: 100%;
    overflow: hidden;
}
.introduce dl{
    float: left;
    width: 200px;
}
.introduce dl dt{
    color: #fff;
    line-height: 26px;
}
.introduce dl dd a{
    color: #fff;
    line-height: 24px;
}
.introduce dl dd a:hover{
    color: red;
}
p{
    padding-top: 20px;
    line-height: 24px;
    height: 44px;
    text-align: center;
}
p a{
    color:#bdbdbd;
    padding:0 2px;
}
p i{
    color:#bdbdbd;
    margin-left: 2px;
}
li{
    color:#999;
    text-align: center;
    line-height: 20px;
}