@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
}

.index {
    width: 100%;
    overflow: hidden;
}

.index_content {
    background: #f3f3f3;
    overflow: hidden;
}

.index .in_banner {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.index .in_banner main li a {
    width: 100%;
    height: 400px;
    display: none;
}

.index .in_banner main li:first-of-type a {
    background: url(./../images/20170612110012_7121.png) no-repeat center;
    background-size: cover;
}

.index .in_banner main li:nth-child(2) a {
    background: url(./../images/20170612110318_4621.png) no-repeat center;
    background-size: cover;
}

.index .in_banner main li:nth-child(3) a {
    background: url(./../images/20170612111654_6965.png) no-repeat center;
    background-size: cover;
}

.index .in_banner main li:nth-child(4) a {
    background: url(./../images/20170612112031_1184.png) no-repeat center;
    background-size: cover;
}

.index .in_banner main li:last-of-type a {
    background: url(./../images/20170830152246_3436.png) no-repeat center;
    background-size: cover;
}

.index .in_banner main li.show a {
    display: block;
}

.index .in_banner aside {
    height: 400px;
    width: 230px;
    position: absolute;
    right: 45px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 10px 15px;
}

.index .in_banner aside h4 {
    width: 100px;
    height: 30px;
    background-color: #006efd;
    color: #fff;
    line-height: 30px;
    position: absolute;
    top: 5px;
    left: 35px;
}

.index .in_banner aside ul {
    width: 200px;
    background: #fff;
}

.index .in_banner aside ul:first-of-type {
    height: 200px;
    font-size: 12px;
    padding: 10px;
    padding-top: 40px;
    text-align: left;
    line-height: 20px;
    border-bottom: 1px solid #eee;
}

.index .in_banner aside ul:last-of-type a {
    display: block;
    height: 180px;
    background: url(./../images/20160624170611_8374.jpg) no-repeat center;
}

.index .in_nav {
    padding: 20px 0;
    display: flex;
}

.index .in_nav li {
    flex: 1;
}

.index .in_nav img {
    width: 280px;
    height: 180px;
}

.index_content .flash_sale {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0;
    background-color: #fff;
}

.index_content .flash_sale h2 {
    height: 40px;
    line-height: 40px;
}

.index_content .flash_sale h2 span {
    float: right;
    font-size: 12px;
}

.index_content .flash_sale section {
    display: flex;
}

.index_content .flash_sale figure {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    width: 200px;
}

.index_content .flash_sale figure a:hover {
    color: red;
}

.index_content .flash_sale figure p {
    color: red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 24px;
    padding: 0 20px;
}

.index_content .day_new h2 {
    width: 200px;
    border-top: 2px solid #fe5322;
    text-align: center;
    color: red;
}

.index_content .day_new figcaption p:last-of-type {
    font-size: 18px;
}

.index_content .day_new figcaption p:last-of-type span {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    margin-left: 15px;
}

.index_content .fine_pick {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.index_content .fine_pick h2 {
    padding-left: 40px;
    height: 40px;
    line-height: 40px;
    background: url(./../images/floor-T.jpg) no-repeat left;
}

.index_content .fine_pick h2 a {
    margin-right: 20px;
}

.index_content .fine_pick h2 a:hover {
    color: red;
}

.index_content .fi_pi_right {
    width: 220px;
    height: 600px;
    background-color: #fff;
}

.index_content .fi_pi_right h3 {
    color: red;
    padding: 15px 20px;
}

.index_content .fi_pi_right ul {
    font-size: 12px;
}

.index_content .fi_pi_right ul li {
    padding: 20px;
    padding-left: 30px;
    position: relative;
}

.index_content .fi_pi_right ul li span {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: 15px;
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -5px -14px/115px 83px;
}

.index_content .fi_pi_right ul li:nth-child(2) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -20px -14px/115px 83px;
}

.index_content .fi_pi_right ul li:nth-child(3) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -33px -14px/115px 83px;
}

.index_content .fi_pi_right ul li:nth-child(4) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -48px -14px/115px 83px;
}

.index_content .fi_pi_right ul li:nth-child(5) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -62px -14px/115px 83px;
}

.index_content .fi_pi_right ul li:nth-child(6) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -78px -14px/115px 83px;
}

.index_content .fi_pi_right ul p:first-of-type {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.index_content .fi_pi_right .fi_pi_rank {
    padding: 23px;
    padding-left: 44px;
}

.index_content .fi_pi_rank p:last-of-type {
    float: right;
}

.index_content .fi_pi_main {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: space-around;
}

.index_content .fi_pi_main figure {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background-color: #fff;
    width: 220px;
    height: 290px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.index_content .fi_pi_main figure a:hover {
    color: red;
}

.index_content .fi_pi_main figure p {
    color: red;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 24px;
    padding: 0 20px;
}

.index_content .fi_pi_main figcaption p:last-of-type {
    font-size: 18px;
}

.index_content .fi_pi_main figcaption p:last-of-type span {
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    margin-left: 15px;
}

.skin_care .fi_pi_right {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skin_care .fi_pi_right ul {
    background-color: #fff;
    height: 290px;
    width: 220px;
    position: relative;
}

.skin_care .fi_pi_right ul:first-of-type {
    padding: 25px 0;
}

.skin_care .fi_pi_right ul:first-of-type div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.skin_care .fi_pi_right ul span {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    display: block;
    width: 60px;
    height: 15px;
    cursor: pointer;
    background-image: url(./../images/brand_jt_03.jpg);
    background-repeat: no-repeat;
}

.skin_care .fi_pi_right ul span:first-of-type {
    top: 0;
}

.skin_care .fi_pi_right ul span:last-of-type {
    bottom: 0;
    background-image: url(./../images/brand_jt_07.jpg);
}

.skin_care .fi_pi_right ul span:first-of-type:hover {
    background-image: url(./../images/brand_icon_03.jpg);
}

.skin_care .fi_pi_right ul span:last-of-type:hover {
    background-image: url(./../images/brand_icon_07.jpg);
}

.skin_care .fi_pi_right ul:first-of-type li {
    padding: 0 20px;
}

.skin_care .fi_pi_right ul:first-of-type li img {
    width: 180px;
    height: 60px;
    border: 1px solid #eee;
}

.intel_digit .fi_pi_left p {
    margin-top: 20px;
}

.intel_digit .fi_pi_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f3f3f3;

}

.intel_digit .fi_pi_right ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f3f3f3;
}
.intel_digit .fi_pi_right ul:first-of-type div:first-of-type{
    margin-bottom: 20px;
}
.index_content .guess_love {
    padding-bottom: 30px;
    margin-bottom: 0;
}

.index_content .guess_love .fi_pi_main {
    width: 100%;
    flex-wrap: nowrap;
}

.index_content .guess_love h2 {
    background-image: none;
    text-align: center;
    line-height: 20px;
}

.index_content .guess_love h2 i{
    color: red;
    font-size: 21px;
    margin-right: 10px;
}

.index_content .mall_infor {
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 30px;
}

.index_content .mall_infor h3 {
    padding: 20px;
    font-size: 18px;
}

.index_content .mall_infor>div {
    float: left;
    height: 340px;
}

.index_content .mall_new {
    width: 290px;
    border-right: 1px solid #eee;
}

.index_content .mall_list {
    width: 440px;
    position: relative;
}

.index_content .list_btn {
    position: absolute;
    width: 100%;
    top: 150px;
}

.index_content .list_btn span {
    background-color: #f3f3f3;
    display: inline-block;
    width: 15px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #555;
    cursor: pointer;
}

.index_content .list_left {
    border-radius: 50px 0 0 50px;
}

.index_content .list_right {
    border-radius: 0 50px 50px 0;
}

.index_content .mall_list_all {
    padding: 20px;
    overflow: hidden;
}

.index_content .mall_list_all li {
    padding: 10px;
    width: 200px;
    float: left;
    line-height: 20px;
    color: #535353;
    position: relative;
}

.index_content .mall_list_all p:first-of-type {
    text-indent: 40px;
}

.index_content .mall_list_all span {
    display: block;
    width: 50px;
    height: 50px;
    background: url(./../images/u=3617890711\,2025017534&fm=26&gp=0.jpg) no-repeat center;
    background-size: cover;
    position: absolute;
    top: 155px;
    left: 0;
}
#header .sun_header .nav_list{
    display: block;
}