@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
}

.sun_list {
    overflow: hidden;
}

/* 主体内容 开始  */
.sun_list main {
    overflow: hidden;
}

/* 引导标题 开始 */
.sun_list main header {
    height: 30px;
    padding-top: 10px;
    line-height: 20px;
}

/* 引导标题 结束 */

/* 左侧边栏 开始 */
/* 左侧引导列表 开始 */
.sun_list .category_list {
    width: 200px;
    border: 1px solid #dbdbdb;
    border-top: 2px solid #fe5322;
    margin-bottom: 20px;
}

.sun_list .category_list h2 {
    height: 30px;
    text-indent: 20px;
    line-height: 30px;
    border-bottom: 1px solid #dbdbdb;
}

.sun_list .category_list h2:hover {
    color: red;
}

.sun_list .category_list li {
    border-bottom: 1px solid #dbdbdb;
}

.sun_list .category_list li a {
    display: inline-block;
    width: 96px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    color: #535353;
    background: url(./../images/listico.jpg) no-repeat 10px center;
}

.sun_list .category_list li a:hover {
    color: red;
}

/* 左侧引导列表 结束 */

/* 侧边栏排行榜 开始 */
.sun_list .category_banner li {
    position: relative;
}

.sun_list .category_banner li a {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
    padding-left: 30px;
    font-size: 14px;
    background: none;
}

.sun_list .category_banner .rank_firset {
    height: 100px;
    padding-top: 10px;
    /* background: url(./../images/60_201706061342371184160.png) no-repeat 30px center; */
}

.sun_list .category_banner .rank_none{
    display: none;
}
.category_banner li span {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 9px;
    left: 5px;
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -5px -14px/115px 83px;
}

.category_banner li:nth-child(2) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -20px -14px/115px 83px;
}

.category_banner li:nth-child(3) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -33px -14px/115px 83px;
}

.category_banner li:nth-child(4) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -48px -14px/115px 83px;
}

.category_banner li:nth-child(5) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -62px -14px/115px 83px;
}

.category_banner li:nth-child(6) span {
    background: url(./../images/u=1923174766\,3235596539&fm=26&gp=0.jpg) no-repeat -78px -14px/115px 83px;
}

.sun_list .category_banner li:first-of-type a {
    white-space: normal;
    line-height: 25px;
    overflow: hidden;
    padding-left: 90px;
    height: 45px;
}

.sun_list .category_banner li:first-of-type .firts_price {
    padding-left: 90px;
    color: red;
    font-size: 12px;
    line-height: 20px;
}

.sun_list .category_banner h2:hover {
    color: #666;
}

/* 侧边栏排行榜 结束  */

/* 侧边栏浏览历史 开始  */
.sun_list .category_history>p {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 1px dashed #eee;
}

.sun_list .category_history>p a {
    color: #666;
}

.sun_list .category_history>h2:hover {
    color: #666;
}

.sun_list .category_history>p a:hover {
    color: red;
}

.sun_list .browse_ware {
    display: flex;
    flex-direction: column;
}

.browse_ware figure {
    padding: 10px 0;
    flex: 1;
    text-align: center;
    margin-bottom: 10px;
}

.browse_ware figure img {
    width: 90px;
    height: 100px;
}

.browse_ware figure p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 10px;
}

.sun_list .browse_ware figure li {
    border: none;
    padding: 5px 10px;
}

.sun_list .browse_ware figure li b {
    color: red;
    margin-right: 15px;
}

.sun_list .browse_ware figure li span {
    color: #999;
    text-decoration: line-through;
}

/* 侧边栏浏览历史 结束 */
/* 左侧边栏 结束 */

/* 右侧主体内容 开始 */
.sun_list .category_content {
    width: 980px;
}

/* 子分类导航 开始 */
.sun_list .category_choice {
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.sun_list .category_choice h2 {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

.sun_list .category_choice li {
    padding: 10px;
    line-height: 24px;
    font-size: 12px;
}

.sun_list .category_choice li a {
    color: #535353;
    margin-right: 5px;
    padding: 4px;
}

.sun_list .category_choice li span {
    float: left;
    overflow: hidden;
    width: 60px;
    height: 40px;
    text-align: right;
    font-weight: bold;
    margin-right: 15px;
}

/* 子分类导航 结束 */

/* 品牌分类导航 开始 */
.sun_list .category_select li a:first-of-type {
    background-color: red;
    color: #fff;
}

/* 品牌分类导航 结束 */

/* 分类查询 开始  */
.sun_list .category_search {
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
}

.sun_list .category_search form {
    border: 1px solid #eee;
    border-top: 2px solid #fe5322;
    padding: 10px 15px;
}

.sun_list .category_search form {
    color: #535353;
}

.sun_list #cat_sea_keyword {
    width: 140px;
    height: 25px;
    border: 1px solid #dbdbdb;
    margin: 2px 15px 2px 5px;
    text-align: center;
}

.sun_list .cat_sea_price {
    width: 30px;
    height: 25px;
    margin: 2px 4px;
    border: 1px solid #dbdbdb;
    text-align: center;
}

.sun_list .cat_sea_priceMax {
    margin-right: 15px;
}

.sun_list .category_recommend {
    margin-right: 30px;
    margin-bottom: 5px;
}

.sun_list .category_recommend input {
    margin: 4px;
}

.sun_list .category_search .submit {
    width: 50px;
    height: 20px;
    border-radius: 3px;
    background-color: #fe5322;
    color: #fff;
}

.sun_list .category_search li {
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
}

.sun_list .category_search li a {
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    border-right: 1px solid #dbdbdb;
}
.sun_list .category_search li a.redColor {
    color: red;
}

.sun_list .category_search li a i {
    margin-left: 5px;
}

.sun_list .category_search li span {
    color: #999;
    float: right;
}

/* 分类查询 结束 */

/* 商品列表 开始 */
.sun_list .category_substance {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.sun_list .category_substance img {
    width: 220px;
    height: 220px;
}

.category_substance figure {
    width: 220px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.category_substance figure img {
    border: 1px solid #dbdbdd;
}

.sun_list .category_substance figcaption {
    padding: 5px 0;
    line-height: 20px;
}

.category_substance figcaption p {
    padding: 0 10px;
}

.category_substance figcaption a {
    color: #535353;
}

.category_substance figcaption a:hover {
    color: red;
}
.category_substance figcaption li{
    padding:0 10px;
}
.category_substance figcaption li b {
    color: red;
    font-size: 14px;
    margin-right: 10px;
}

.category_substance figcaption li span {
    color: #999;
    text-decoration: line-through;
}

.category_substance .substance_none {
    display: none;
}

/* 商品列表 结束 */

/* 商品列表分页 开始 */
.sun_list .category_skip {
    float: right;
    height: 40px;
    margin-bottom: 50px;
}

.sun_list .category_skip span a {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    margin: 0px 4px;
}

.sun_list .category_skip span:first-of-type a {
    color: red;
    border: 1px solid red;
}

.sun_list .category_skip span:last-of-type a {
    background-color: #dbdbdb;
}

/* 商品列表分页 结束 */
/* 主体内容 结束 */