@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

.register {
    width: 100%;
    height: 100%;
}

.register_header {
    width: 100%;
    border-bottom: 2px solid #fe5322;
    padding-bottom: 20px;
    background-color: #fff;
}

.register header {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    position: relative;

}

.register header h1 {
    text-indent: -9999px;
}

.register header h1 a {
    display: block;
    width: 200px;
    height: 60px;
    background: url(./../images/logo_register.gif) no-repeat center;
}

.register .rig_welcome {
    width: 200px;
    height: 40px;
    text-indent: 20px;
    font-size: 24px;
    line-height: 40px;
    margin-left: 10px;
    border-left: 1px solid #dbdbdb;
    color: #666;
}

.register .rig_login {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #666;
}

.register .rig_login a {
    color: red;
}

.register main {
    width: 880px;
    height: 600px;
    margin: 40px auto;
}

.register form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 40px;
}

.register form p {
    height: 50px;
    overflow: hidden;
    padding: 5px 0;
}

.register form p:last-of-type {
    height: 60px;
}

.register form label {
    display: inline-block;
    padding-right: 20px;
    color: #999;
    line-height: 40px;
}

.register form label.error {
    margin-left: 10px;
    color: red;
}

.register .la_left {
    width: 180px;
    text-align: right;
}

.register form input {
    width: 300px;
    border: 1px solid #999;
    height: 40px;
    text-indent: 10px;
}

.register #usex {
    width: 15px;
}

.register #utest {
    width: 180px;
    margin-left: 4px;
}

.register .usex {
    color: #666;
}

.register .la_right {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    float: right;
}

.register .utest_txt {
    width: 100px;
    height: 40px;
    background: #bdbdbd;
    float: left;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    user-select: none;
    padding-right: 0;
}

.register .utest_btn {
    color: red;
    padding: 6px;
    cursor: pointer;
    user-select: none;
}

.register .utest {
    width: 220px;
}

.register #ucheckbox {
    width: 15px;
    margin-left: 200px;
    margin-right: 10px;
}

.register .ucheckbox a {
    color: red;
    margin-left: 5px;
}

.register .submit {
    width: 320px;
    height: 40px;
    margin-top: 10px;
    margin-left: 190px;
    color: #fff;
    background-color: #fe5322;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.register_show {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    overflow: hidden;
    display: none;
}

.register_show img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.register footer {
    text-align: center;
    line-height: 20px;
    color: #999;
}

.register footer p a {
    color: #999;
}