@charset "utf-8";

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
}

.rigister {
    width: 100%;
    height: 100%;
}

.rigister_header {
    width: 100%;
    border-bottom: 2px solid #fe5322;
    padding-bottom: 20px;
    background-color: #fff;
}

.rigister header {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    position: relative;

}

.rigister header h1 {
    text-indent: -9999px;
}

.rigister header h1 a {
    display: block;
    width: 200px;
    height: 60px;
    background: url(./../images/logo_rigister.gif) no-repeat center;
}

.rigister .rig_welcome {
    width: 200px;
    height: 40px;
    text-indent: 20px;
    font-size: 24px;
    line-height: 40px;
    margin-left: 10px;
    border-left: 1px solid #dbdbdb;
    color: #666;
}

.rigister .rig_login {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #666;
}

.rigister .rig_login a {
    color: red;
}

.rigister main {
    width: 880px;
    height: 600px;
    margin: 40px auto;
}

.rigister form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 40px;
}

.rigister form p {
    height: 50px;
    overflow: hidden;
    padding: 5px 0;
}

.rigister form p:last-of-type {
    height: 60px;
}

.rigister form label {
    display: inline-block;
    padding-right: 20px;
    color: #999;
}

.rigister .la_left {
    width: 180px;
    text-align: right;
}

.rigister form input {
    width: 300px;
    border: 1px solid #999;
    height: 40px;
    text-indent: 10px;
}

.rigister #usec {
    width: 15px;
}

.rigister #utest {
    width: 180px;
}

.rigister .usec {
    color: #666;
}

.rigister .la_right {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    float: right;
}

.rigister .utest_txt {
    width: 100px;
    height: 40px;
    background: #bdbdbd;
    float: left;
    margin-left: 10px;
}

.rigister .utest_btn {
    color: red;
    padding: 6px;
    cursor: pointer;
}

.rigister .utest {
    width: 220px;
}

.rigister #ucheckbox {
    width: 15px;
    margin-left: 200px;
    margin-right: 10px;
}

.rigister .ucheckbox a {
    color: red;
    margin-left: 5px;
}

.rigister .submit {
    width: 320px;
    height: 40px;
    margin-top: 10px;
    margin-left: 190px;
    color: #fff;
    background-color: #fe5322;
    font-size: 20px;
    border-radius: 4px;
}

.rigister footer {
    text-align: center;
    line-height: 20px;
    color: #999;
}

.rigister footer p a {
    color: #999;
}